/**
 * file: style.css
 * purpose: effects ...
 **/

@keyframes bounces {
    0%,
    10%,
    50%,
    90%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);

    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

body {
    background-color: #953;
    text-align: center;
}

article {
    width: 96%;
    text-align: center;
    padding: 2%;
}

h1,
h2,
p {
    font-family: serif;
}

.bt {
    color: white;
}

.wp {
    width: 50%;
    margin-left: 25%;
    font-size: 17px;
}

.ah {
    font-size: 27px;
    margin-bottom: 1%;
}

#fh {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 1%;
}

figure {
    margin-bottom: 1%;
    opacity: 0.3;
    animation: bounces 2s infinite;
    transition: all 1s ease-in-out 0.2s
}

figure:hover {
    opacity: 1;
    transition: 1s;
}

figcaption {
    margin-top: 0.5%;
    margin-bottom: 1.5%;
    opacity: 1;
}

#first {
    background-color: rgba(194, 0, 0, 0.72);
    height: 20%;
}

#second {
    background-color: rgba(0, 0, 0, 0.70);
}

#third {
    background-color: rgba(194, 0, 0, 0.72);
    height: 20%;
}

#forth {
    background-color: rgba(0, 0, 0, 0.70);
    height: 20%;
}

header {
    background-color: rgba(194, 0, 0, 0.72);
}

.menu {
    text-align: left;
}

.dropbtn {
    background-color: #333333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtns {
    width: 150%;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #333333;
}

.dropdown:hover .dropdown-content {
    display: block;
}
